{:geoserver-rest-uri  "http://localhost:8080/geoserver/rest"
 :geoserver-username  "admin"
 :geoserver-password  "geoserver"
 :geoserver-workspace "demo"
 :action-hooks        [[:after  "add"    "https://pyrecast.org/clj/set-capabilities"              {:auth-token "some-token" :clj-args [[{"geoserver-key" "trinity" "workspace-name" geoserverWorkspace}]]}]
                       [:before "remove" "https://pyrecast.org/clj/remove-workspace"              {:auth-token "some-token" :clj-args [[{"geoserver-key" "trinity" "workspace-name" geoserverWorkspace}]]}]
                       [:after  "add"    "https://pyregence-dev.sig-gis.com/clj/set-capabilities" {:auth-token "some-token" :clj-args [[{"geoserver-key" "trinity" "workspace-name" geoserverWorkspace}]]}]
                       [:before "remove" "https://pyregence-dev-sig-gis.com/clj/remove-workspace" {:auth-token "some-token" :clj-args [[{"geoserver-key" "trinity" "workspace-name" geoserverWorkspace}]]}]]
 :file-watcher        {:dir                "/some/directory/to/watch"
                       :folder-name->regex {"fire_spread_forecast"  "(?<=/)fire_spread_forecast/[\\w-]+/\\d{8}_\\d{6}"
                                            "fire_weather_forecast" "(?<=/)fire_weather_forecast/\\d{8}_\\d{2}"
                                            "fire_detections"       "(?<=/)fire_detections/[\\w]+"}}
 :data-dir            "/data"
 :style-dir           "/styles"
 :overwrite-styles    true
 :layer-rules         [{:workspace-regex  "^fire-risk-forecast_liberty_\\d{8}_\\d{2}$"
                        :associated-rules [{:layer-rule "geoserver-workspace.*.r" :role "LIBERTY"}
                                           {:layer-rule "geoserver-workspace.*.w" :role "LIBERTY"}]}
                       {:workspace-regex  "^psps-static_liberty$"
                        :associated-rules [{:layer-rule "geoserver-workspace.*.r" :role "LIBERTY"}
                                           {:layer-rule "geoserver-workspace.*.w" :role "LIBERTY"}]}
                       {:workspace-regex  "^fire-risk-forecast_nve_\\d{8}_\\d{2}$"
                        :associated-rules [{:layer-rule "geoserver-workspace.*.r" :role "NVE"}
                                           {:layer-rule "geoserver-workspace.*.w" :role "NVE"}]}
                       {:workspace-regex  "^psps-static_nve$"
                        :associated-rules [{:layer-rule "geoserver-workspace.*.r" :role "NVE,GROUP_ADMIN"}
                                           {:layer-rule "geoserver-workspace.*.w" :role "NVE,GROUP_ADMIN"}]}]
 :log-dir             "logs"
 :styles              [{:layer-pattern "fire-area"            :raster-style "fire-area"           :vector-style "line-fire-area"}
                       {:layer-pattern "fire-volume"          :raster-style "fire-volume"         :vector-style "line-fire-volume"}
                       {:layer-pattern "times-burned"         :raster-style "times-burned"        :vector-style "line-times-burned"}
                       {:layer-pattern "impacted-structures"  :raster-style "impacted-structures" :vector-style "line-impacted-structures"}
                       {:layer-pattern "deenergization-zones" :vector-style ["poly-h-wg-a-css"
                                                                             "poly-h-wg-h-css"
                                                                             "poly-h-wg-l-css"
                                                                             "poly-h-ws-a-css"
                                                                             "poly-h-ws-h-css"
                                                                             "poly-h-ws-l-css"
                                                                             "poly-l-area-a-css"
                                                                             "poly-l-area-h-css"
                                                                             "poly-l-area-l-css"
                                                                             "poly-l-vol-a-css"
                                                                             "poly-l-vol-h-css"
                                                                             "poly-l-vol-l-css"
                                                                             "poly-l-str-a-css"
                                                                             "poly-l-str-h-css"
                                                                             "poly-l-str-l-css"]}]
 :layer-groups        [{:layer-pattern "elmfire_landfire_fire-area"            :name "elmfire_landfire_fire-area"}
                       {:layer-pattern "elmfire_landfire_fire-volume"          :name "elmfire_landfire_fire-volume"}
                       {:layer-pattern "elmfire_landfire_times-burned"         :name "elmfire_landfire_times-burned"}
                       {:layer-pattern "elmfire_landfire_impacted-structures"  :name "elmfire_landfire_impacted-structures"}
                       {:layer-pattern "elmfire_cfo_fire-area"                 :name "elmfire_cfo_fire-area"}
                       {:layer-pattern "elmfire_cfo_fire-volume"               :name "elmfire_cfo_fire-volume"}
                       {:layer-pattern "elmfire_cfo_times-burned"              :name "elmfire_cfo_times-burned"}
                       {:layer-pattern "elmfire_cfo_impacted-structures"       :name "elmfire_cfo_impacted-structures"}
                       {:layer-pattern "gridfire_landfire_fire-area"           :name "gridfire_landfire_fire-area"}
                       {:layer-pattern "gridfire_landfire_fire-volume"         :name "gridfire_landfire_fire-volume"}
                       {:layer-pattern "gridfire_landfire_times-burned"        :name "gridfire_landfire_times-burned"}
                       {:layer-pattern "gridfire_landfire_impacted-structures" :name "gridfire_landfire_impacted-structures"}
                       {:layer-pattern "gridfire_cfo_fire-area"                :name "gridfire_cfo_fire-area"}
                       {:layer-pattern "gridfire_cfo_fire-volume"              :name "gridfire_cfo_fire-volume"}
                       {:layer-pattern "gridfire_cfo_times-burned"             :name "gridfire_cfo_times-burned"}
                       {:layer-pattern "gridfire_cfo_impacted-structures"      :name "gridfire_cfo_impacted-structures"}
                       {:layer-pattern "some_deenergization-zones"             :name "some_deenergization-zones"}]}
